version: '3.9'
services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: modusbuild/app:dev
    volumes:
      - ./:/var/www/html
    environment:
      APP_ENV: local
      APP_DEBUG: 'true'
      PHP_IDE_CONFIG: "serverName=modusbuild"
    depends_on:
      - postgres
      - redis
    networks:
      - modusbuild

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - modusbuild

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: modusbuild
      POSTGRES_USER: modusbuild
      POSTGRES_PASSWORD: secret
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - modusbuild

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    networks:
      - modusbuild

  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "8025:8025"
    networks:
      - modusbuild

volumes:
  postgres-data:

networks:
  modusbuild:
    driver: bridge
